@import "tailwindcss";

@theme {
	--color-jjk-dark: #0a0f1d;
	--color-jjk-blue: #16223f;
	--color-jjk-accent: #00d2ff;
	--color-jjk-purple: #9d50bb;
	--font-permanent: "Permanent Marker", cursive;
	--font-space: "Space Grotesk", sans-serif;
}

:root {
	background-color: var(--color-jjk-dark);
	color: white;
	font-family: var(--font-space);
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes slide-in-right {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes zoom-in {
	from {
		opacity: 0;
		transform: scale(0.95);
	}

	to {
		opacity: 1;
		transform: scale(1);
	}
}

@layer utilities {
	.text-neon {
		text-shadow: 0 0 10px var(--color-jjk-accent), 0 0 20px var(--color-jjk-accent);
	}
	.glass-effect {
		background: rgba(22, 34, 63, 0.7);
		backdrop-filter: blur(12px);
		border: 1px solid rgba(255, 255, 255, 0.1);
	}

	.animate-in {
		animation-duration: 700ms;
		animation-fill-mode: forwards;
		animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	}

	.fade-in {
		animation-name: fade-in;
	}

	.slide-in-right-10 {
		animation-name: slide-in-right;
	}

	.zoom-in {
		animation-name: zoom-in;
	}

	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.no-scrollbar {
		scrollbar-width: none;
	}

	.writing-vertical {
		writing-mode: vertical-rl;
		text-orientation: upright;
	}

	.clan-transition {
		transition: all 0.8 cubic-bezier(0.4, 0, 0.2, 1);
	}
}
